{% extends "base.html" %}
{% load static %}

{% block title %}
Club Manager
{% endblock %}

{% block content %}

<div id="intro-screen">
    <h1>Club Manager</h1>
</div>

<div id="main-home">
    <div class="landing-content">
        <!-- Start of if else statement that returns dif page depending if user is logged in or not-->
        {% if user.is_authenticated %} 
            <p class="eyebrow">WELCOME BACK</p>
            <h1>Hi, {{ user.username }}</h1>
            <p class="subtitle">
                You're logged in to Club Manager.
            </p>
        {% else %}
            <p class="eyebrow">WELCOME TO</p>

            <h1>Club Manager</h1>

            <p class="subtitle">
                Manage members, events, and club finances in one place.
            </p>

            <a href="{% url 'login' %}" class="login-button">Log In</a>
        {% endif %}
    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("intro-screen").classList.add("hide-intro");
        document.getElementById("main-home").classList.add("show-home");
    }, 2200);
</script>

{% endblock %}