{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div id="main-home">
    <div class="landing-content">

        <p class="eyebrow">WELCOME BACK</p>

        <h1>Hi, {{ user.username }}</h1>

        <p class="subtitle">
            You're logged in to Club Manager.
        </p>

    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", function () {
        const mainHome = document.getElementById("main-home");
        
        setTimeout(function () {
            mainHome.classList.add("show-home");
        }, 100);
    });
</script>

{% endblock %}